body {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 60px;
    color: darkblue;
    font-family: Comic Sans MS;
}

h4 {
   text-align: right;
   font-style: italic;
}

p {
    text-align: justify;
}