@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  font-size: 18px;
  font-family: "Rubik", Helvetica, sans-serif;
  margin: 50px;
}

.container {
  display: grid;
  gap: 10px;
}

.header {
  display: grid;
  grid-template-areas:
    "hero hero feature-1"
    "hero hero feature-2";
}

.hero {
  grid-area: hero;
  min-height: 350px;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px;
}

.hero > * {
  display: none;
}

.features {
  background-color: #000;
  color: white;
  display: grid;
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(../img/feature-1.jpg);
  background-size: cover;
  background-position: center;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(../img/feature-2.jpg);
  background-size: cover;
  background-position: center;
}

.features .price {
  font-size: 3em;
  font-weight: 200;
  letter-spacing: -3px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  order: -1;
}

.menu .brand {
  font-size: 1.3em;
  color: #333;
}

.menu ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.menu a {
  display: block;
  background-color: #000;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
  z-index: 2;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background: #000;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hambuger Menu Animations */

.menu-toggle span:nth-child(2) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(3px, -8px);
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.service {
  background-color: white;
  padding: 15px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.3);
}

.service .icon {
  font-size: 3em;
}

.service h3 {
  font-size: 1.5em;
}

.service p {
  font-weight: 200;
  font-size: 0.9em;
}

.service .icon img {
  width: 42px;
  height: 42px;
}

.products {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 5px;
}

.products h2 {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 20px;
}

.product {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.product img {
  border-radius: 1px;
}

.product .overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #ddd;
  opacity: 0;
  transition: all 0.5s;
}

.product:hover .overlay:hover {
  opacity: 1;
}

.product .overlay h4 {
  font-size: 2em;
  font-weight: 200;
}

.product .overlay h5 {
  font-size: 1.2em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
}

.gallery h2 {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .menu {
    order: inherit;
    grid-template-columns: 1fr;
  }

  .menu .brand {
    display: none;
  }

  .hero > * {
    display: block;
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .header {
    grid-template-areas:
      "hero hero"
      "feature-1 feature-2";
  }

  .feature-1 {
    height: 130px;
  }

  .feature-2 {
    height: 130px;
  }

  .menu {
    order: -1;
    justify-items: end;
  }

  .menu ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: 1;
    transform: translateY(-100%);
    transition: all 1s;
    background-color: #000;
    opacity: 0;
  }

  .menu ul.slide {
    opacity: 1;
    transform: translateY(0);
  }

  .menu-toggle {
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  body {
    margin: 15px;
  }

  .header {
    grid-template-areas:
      "hero"
      "feature-1"
      "feature-2";
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }
}
